<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.87.1" targetFramework="net45" />
  <package id="Dapper" version="1.50.2" targetFramework="net45" />
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net45" />
  <package id="FluentFTP" version="16.0.17" targetFramework="net45" />
  <package id="FreeSpire.Office" version="2.15" targetFramework="net45" />
</packages>